* dan.homola@gooddata.com ivan.nejezchleb@gooddata.com petr.dolejsi@gooddata.com

/src/translations/ patrik.braborec@gooddata.com petr.janu@gooddata.com
/src/internal/translations/ patrik.braborec@gooddata.com petr.janu@gooddata.com
